body {
    margin: 0px;
    min-height: 100vh;
    border: 2px solid black;
    display: flex;
}
#left-side {
    width: 35%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
}
.background-image img {
    width: auto;
    height: 100%;
    overflow: hidden;
}
.floater {
    position: absolute;
}